* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

#background {
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(10px);
}

.background__container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 5px 40px #000000;
}

.player {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 333px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000000;
  overflow: hidden;
}
.player__image-container {
  position: relative;
  height: 270px;
  overflow: hidden;
}
.player__image-preview {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 343px;
  height: 343px;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.75s;
}
.player__image-preview._isplay {
  transform: translate(-50%, -50%) scale(1.15);
}