* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-color: #696969;
}

button {
  background-color: transparent;
  cursor: pointer;
}

._imagewhite {
  filter: invert(100%);
}

#background {
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(10px);

}
.background {
  &__container {
    &>* {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__images {
    filter: blur(10px);
    &>* {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__image {
    animation-duration: 0.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    &._hide {
      animation-name: fadeout;
    }
    &._show {
      animation-name: fadein;
    }

  }
  &__shadow {
    box-shadow: inset 0 0 20px 10px #000000;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.player {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 333px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000000;
  overflow: hidden;
  &__image-container {
    position: relative;
    height: 265px;
    overflow: hidden;
  }
  &__image-preview {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 343px;
    height: 343px;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.75s;
    &._isplay {
      transform: translate(-50%, -50%) scale(1.15);
    }

    animation-duration: 0.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    &._hide {
      animation-name: fadeout;
    }
    &._show {
      animation-name: fadein;
    }
  }

  &__controls {
    background: linear-gradient(45deg, #282828, #858585);
    padding: 10px 30px 5px 30px;
  }
  &__controls-general {
    display: flex;
    align-items: center;
  }
  &__button-playpause {
    display: none;
    width: 50px;
    height: 50px;
    transition: 0.3s;
    &._show {
      display: block;
    }
    &:hover {
      opacity: 0.75;
    }
  }

  &__image-playpause {
    width: 100%;
    height: 100%;
  }

  &__controls-info {
    flex: 1 0 auto;
    margin-left: 15px;
  }
  &__audio-title {
    font-size: 20px;
    font-weight: 600;
    color: #c1ff06;
  }
  &__audio-author {
    font-size: 17px;
  }
  &__controls-changeover {}
  &__button-changeover {
    display: block;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &:hover {
      opacity: 0.75;
    }
    &:disabled {
      opacity: 0.3;
    }
  }
  &__image-changeover {
    width: 100%;
    height: 100%;
  }
  &__progress-container {
    width: 213px;
    margin: 0 auto;
    margin-top: 10px;
  }
  &__audio-duration {
    font-size: 13px;
    color: #c1ff06;
    text-align: right;
  }

  &__progress-line {
    appearance: none;
    width: 100%;
    height: 5px;
    margin: 5px 0;
    background-color: #000000;
    border-radius: 3px;
    cursor: pointer;
    &::-webkit-slider-thumb {
      appearance: none;
      height: 10px;
      width: 7px;
      border-radius: 10px;

      background-color: #fff;
    }
  }
  &__audio-currenttime {
    font-size: 13px;
  }
}